<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pandas-Series" data-toc-modified-id="Pandas-Series-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas Series</a></span><ul class="toc-item"><li><span><a href="#Creating-Series" data-toc-modified-id="Creating-Series-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Creating Series</a></span></li><li><span><a href="#Indexing-and-slicing" data-toc-modified-id="Indexing-and-slicing-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Indexing and slicing</a></span></li><li><span><a href="#Series-Methods-&amp;-Attributes" data-toc-modified-id="Series-Methods-&amp;-Attributes-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Series Methods &amp; Attributes</a></span></li></ul></li><li><span><a href="#Pandas-DataFrames" data-toc-modified-id="Pandas-DataFrames-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pandas DataFrames</a></span></li><li><span><a href="#Important-Pands-Functions-(comparison--with-R)" data-toc-modified-id="Important-Pands-Functions-(comparison--with-R)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Important Pands Functions (comparison  with R)</a></span></li><li><span><a href="#Importing-Other-data-format-into-Python" data-toc-modified-id="Importing-Other-data-format-into-Python-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Importing Other data format into Python</a></span></li><li><span><a href="#Adding-a-series-to-data-frames" data-toc-modified-id="Adding-a-series-to-data-frames-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Adding a series to data frames</a></span></li><li><span><a href="#Loading,-Subsetting,-and-Filtering-Data-with-pandas" data-toc-modified-id="Loading,-Subsetting,-and-Filtering-Data-with-pandas-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Loading, Subsetting, and Filtering Data with pandas</a></span></li></ul></div>

In [2]:
import numpy as np
import pandas as pd
import random

In [2]:
data = pd.read_csv("data/income.csv")

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 16 columns):
Index    51 non-null object
State    51 non-null object
Y2002    51 non-null int64
Y2003    51 non-null int64
Y2004    51 non-null int64
Y2005    51 non-null int64
Y2006    51 non-null int64
Y2007    51 non-null int64
Y2008    51 non-null int64
Y2009    51 non-null int64
Y2010    51 non-null int64
Y2011    51 non-null int64
Y2012    51 non-null int64
Y2013    51 non-null int64
Y2014    51 non-null int64
Y2015    51 non-null int64
dtypes: int64(14), object(2)
memory usage: 6.5+ KB

In [7]:
data.columns

Index(['Index', 'State', 'Y2002', 'Y2003', 'Y2004', 'Y2005', 'Y2006', 'Y2007',
       'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012', 'Y2013', 'Y2014', 'Y2015'],
      dtype='object')

## Pandas Series

The Series is the primary building block of pandas. A Series represents a one-dimensional labeled indexed array based on the NumPy ndarray. Like an array, a Series can hold zero or more values of any single data type.

* The Series object is basically interchangeable with a one-dimensional NumPy array. 
* The essential difference is the presence of the index: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.

* This explicit index definition gives the Series object additional capabilities. 
* For example, the index need not be an integer, but can consist of values of any desired type

* It is a m x 1 vector
* m is the number of rows
* 1 is the number of columns
* Each column in DataFrame is known as a pandas series

### Creating Series

In [2]:
ser = pd.Series([1, 3, 5, 7])
print(ser)

0    1
1    3
2    5
3    7
dtype: int64

Use a Dict to Initialize Series

In [3]:
prices = {'apple': 4.99,
'banana': 1.99,
'orange': 3.99,
'grapes': 0.99}
ser = pd.Series(prices)
print (ser)

apple     4.99
banana    1.99
grapes    0.99
orange    3.99
dtype: float64

 Initialize Series from Scalar

In [4]:
ser = pd.Series(2, index=range(0, 5))
print(ser)

0    2
1    2
2    2
3    2
4    2
dtype: int64

A Series of Odd Numbers

In [6]:
print (pd.Series(range(1, 10, 2)))

0    1
1    3
2    5
3    7
4    9
dtype: int64

With an Alphabetic Index

In [14]:
print (pd.Series(range(1,8), index=[x for x in 'abcdefg']))

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [7]:
print (pd.Series(range(1, 15, 3), index=[x for x in 'abcde']))

a     1
b     4
c     7
d    10
e    13
dtype: int64

A Series With Random Numbers

In [11]:
import random
print(pd.Series(random.sample(range(100), 6)))

0    75
1    45
2    96
3    82
4    74
5    34
dtype: int64

Combining Lists

In [13]:
x = dict(zip([x for x in 'abcdefg'], range(1, 8)))
print (x)
y = pd.Series(x)
print (y)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7}
a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

Specifying an Index

Naming a Series

In [16]:
a = [1, 3, 5, 7]
print (pd.Series(a, name='joe'))

0    1
1    3
2    5
3    7
Name: joe, dtype: int64

 Comparing List with Series

### Indexing and slicing

In [22]:
ser = pd.Series(random.sample(range(100), 10), [x for x in 'abcdefghij'])
print (ser)

a    79
b    87
c    22
d    61
e    92
f    47
g    84
h     7
i    86
j    14
dtype: int64

**single value: positive indexing**

In [11]:
print(ser[0])
print(ser[5])

95
6

**slicing**

In [13]:
print(ser[:]) # printing total series

0    95
1    90
2    68
3    94
4    80
5     6
6    91
7    44
8    99
9    36
dtype: int64

In [15]:
print(ser[2:])
print(ser[:5])

2    68
3    94
4    80
5     6
6    91
7    44
8    99
9    36
dtype: int64
0    95
1    90
2    68
3    94
4    80
dtype: int64

In [16]:
print(ser[2:5])
print(ser[3:5])

2    68
3    94
4    80
dtype: int64
3    94
4    80
dtype: int64

In [19]:
print(ser[-6:-2])
print(ser[-5:-1])

4    80
5     6
6    91
7    44
dtype: int64
5     6
6    91
7    44
8    99
dtype: int64

**Using `iloc[]` and `loc[]`**

**single value: negative indexing**

In [23]:
print(ser.iloc[1])
print(ser.iloc[3])

87
61

In [25]:
print(ser.iloc[-1])
print(ser.iloc[-3])

14
7

In [26]:
print(ser.iloc[1:4])
print(ser.iloc[3:6])

b    87
c    22
d    61
dtype: int64
d    61
e    92
f    47
dtype: int64

In [27]:
print(ser.loc['a'])
print(ser.loc['d'])

79
61

In [28]:
print(ser.loc['a':'e'])
print(ser.loc['d':'i'])

a    79
b    87
c    22
d    61
e    92
dtype: int64
d    61
e    92
f    47
g    84
h     7
i    86
dtype: int64


### Series Methods & Attributes

In [5]:
a = pd.Series(random.sample(range(100), 6))
print (a.shape)
# check how big the Series is using shape , which returns as a tuple

(6,)

In [6]:
print (a.count()) # which returns the size of the Series as an integer

6

**`count()` only reports the number of non-NaN elements, while shape reports both.**
Another attribute for getting the count of elements is `size` . It reports the count as an integer and includes NaN elements if any.

In [9]:
a = pd.Series(random.sample(range(100), 6))
print(a)
print ('count of a =>', a.count(), '\n')
b = a.append(pd.Series(np.nan, index=list('abcd')), ignore_index=True)
print ('b => ', b, '\n')
print ('count of b =>', b.count(), '\n')
print ('shape of b =>', b.shape, '\n')
print ('size of b =>', b.size)

count of a => 6

b =>  0    14.0
1    72.0
2    79.0
3     0.0
4    83.0
5    30.0
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

count of b => 6

shape of b => (10,)

size of b => 10

**Get some detailed stats on the Series using `describe()` . This method returns a Series object with the index (or labels) as shown.**

In [10]:
x = pd.Series(random.sample(range(100), 6))
x.describe()

count     6.000000
mean     74.333333
std      22.303961
min      47.000000
25%      56.250000
50%      75.000000
75%      93.750000
max      99.000000
dtype: float64

**Show the first 5 or last 5 rows of the Series using `head()` or `tail()`**

In [12]:
x = pd.Series(random.sample(range(100), 10))
print (x, '\n')
print (x.head(), '\n')
print (x.tail(), '\n')

0    78
1    28
2     9
3    79
4    85
5    73
6    83
7    66
8    44
9    36
dtype: int64

0    78
1    28
2     9
3    79
4    85
dtype: int64

5    73
6    83
7    66
8    44
9    36
dtype: int64

**Adding elements to a Series is accomplished by using `append()` . The argument must be a single Series object, or a list (or tuple) of Series objects.**

x = pd.Series(random.sample(range(100), 6))
print (x, '\n')
print ('appended =>\n', x.append([pd.Series(2), pd.Series([3, 4, 5])]))

You might notice the oddball labels after appending. Each Series is appended with a
default index starting from 0, regardless of whether this creates duplicate labels. One way
to fix this is to specify ignore_index=True to ensure re-labeling.

print ('appended =>\n', x.append([pd.Series(2), pd.Series([3, 4, 5])],
ignore_index=True))

**You can delete elements from a Series using the following methods.**

In [16]:
x = pd.Series(random.sample(range(100), 6), index=list('ABCDEF'))
print (x, '\n')
print ('drop one =>\n', x.drop('C'), '\n')
print ('drop many =>\n', x.drop(['C', 'D']))

A    52
B    19
C     8
D    85
E    21
F    90
dtype: int64

drop one =>
 A    52
B    19
D    85
E    21
F    90
dtype: int64

drop many =>
 A    52
B    19
E    21
F    90
dtype: int64

**Get rid of duplicate elements by invoking `drop_duplicates()`**

In [17]:
x = pd.Series([1, 2, 2, 4, 5, 7, 3, 4])
print (x, '\n')
print ('drop duplicates =>\n', x.drop_duplicates(), '\n')

0    1
1    2
2    2
3    4
4    5
5    7
6    3
7    4
dtype: int64

drop duplicates =>
 0    1
1    2
3    4
4    5
5    7
6    3
dtype: int64

By default, the method retains the first repeated value. Get rid of all duplicates (including
the first) by specifying `keep=False` .

In [18]:
x = pd.Series([1, 2, 2, 4, 5, 7, 3, 4])
print (x, '\n')
print ('drop duplicates =>\n', x.drop_duplicates(keep=False), '\n')

0    1
1    2
2    2
3    4
4    5
5    7
6    3
7    4
dtype: int64

drop duplicates =>
 0    1
4    5
5    7
6    3
dtype: int64

**Use the `dropna()` to drop elements without a value (NaN).**

In [19]:
x = pd.Series([1, 2, 3, 4, np.nan, 5, 6])
print (x, '\n')
print ('drop na =>\n', x.dropna())

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    6.0
dtype: float64

drop na =>
 0    1.0
1    2.0
2    3.0
3    4.0
5    5.0
6    6.0
dtype: float64

**When you want to replace NaN elements in a Series, use `fillna()` .**

In [20]:
x = pd.Series([1, 2, 3, 4, np.nan, 5, 6])
print (x, '\n')
print ('fillna w/0 =>\n', x.fillna(0))

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    6.0
dtype: float64

fillna w/0 =>
 0    1.0
1    2.0
2    3.0
3    4.0
4    0.0
5    5.0
6    6.0
dtype: float64

**Use the `between()` method, which returns a Series of boolean values indicating whether
the element lies within the range**

In [21]:
a = pd.Series(random.sample(range(100), 10))
print (a)
print (a.between(30, 50))

0    33
1    26
2    99
3    87
4    52
5    29
6    90
7    75
8    31
9    32
dtype: int64
0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
9     True
dtype: bool

In [22]:
# You can use this the returned boolean Series as a predicate into the original Series.
print (a[a.between(30, 50)])

0    33
8    31
9    32
dtype: int64

**Select elements using a predicate function as the argument to `select()` .**

In [23]:
x = pd.Series(random.sample(range(100), 6))
print (x, '\n')
print ('select func =>\n', x.select(lambda a: x.iloc[a] > 20))

0    25
1    60
2    72
3     2
4    34
5     0
dtype: int64

select func =>
 0    25
1    60
2    72
4    34
dtype: int64

**Use `filter(items=[..])` with the labels to be selected in a list.**

In [24]:
x = pd.Series([1, 2, 3, 4, np.nan, 5, 6])
print (x, '\n')
print ('filtered =>\n', x.filter(items=[1, 2, 6]))

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    6.0
dtype: float64

filtered =>
 1    2.0
2    3.0
6    6.0
dtype: float64

**Select labels to filter using a regular expression match with `filter(regex=’..’)` .**

In [25]:
x = pd.Series({'apple': 1.99,
'orange': 2.49,
'banana': 0.99,
'grapes': 1.49,
'melon': 3.99})
print (x, '\n')
print ('regex filter =>\n', x.filter(regex='a'))

apple     1.99
banana    0.99
grapes    1.49
melon     3.99
orange    2.49
dtype: float64

regex filter =>
 apple     1.99
banana    0.99
grapes    1.49
orange    2.49
dtype: float64

**Use the `filter(like=’..’)` version to perform a substring match on the labels to be selected.**

In [35]:
print ('like filter =>\n', x.filter(like='an'))

like filter =>
 banana    0.99
orange    2.49
dtype: float64

**you can sort a Series by value.**
**Use `sort_values()` to sort by the values.**

In [39]:
print (x, '\n')
print ('sort by value: =>\n', x.sort_values())

apple     1.99
banana    0.99
grapes    1.49
melon     3.99
orange    2.49
dtype: float64

sort by value: =>
 banana    0.99
grapes    1.49
apple     1.99
orange    2.49
melon     3.99
dtype: float64

## Pandas DataFrames

## Important Pands Functions (comparison  with R)

![Imgur](https://i.imgur.com/Wsh9hfp.png)
<sub>source: <a href="https://www.listendata.com/2017/05/python-data-science.html#pandas_functions" target="_blank">https://www.listendata.com/2017/05/python-data-science.html#pandas_functions</a></sub>

## Importing Other data format into Python

https://www.listendata.com/2017/02/import-data-in-python.html

**Importing Data in Python Cheat Sheet:**  
https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Cheat+Sheets/Importing_Data_Python_Cheat_Sheet.pdf

In [4]:
mydata3 = pd.read_excel("https://www.eia.gov/dnav/pet/hist_xls/RBRTEd.xls",sheetname="Data 1", skiprows=2)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/pandas/util/_decorators.py:118: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [4]:
mydata3.shape

(7952, 2)

In [5]:
mydata3.head()

        Date  Europe Brent Spot Price FOB (Dollars per Barrel)
0 1987-05-20                                             18.63
1 1987-05-21                                             18.45
2 1987-05-22                                             18.55
3 1987-05-25                                             18.60
4 1987-05-26                                             18.63

In [23]:
mydata3.dtypes

Date                                                datetime64[ns]
Europe Brent Spot Price FOB (Dollars per Barrel)           float64
dtype: object

***`dtypes`* attrivute and *`astype()`* method with another example**

https://pbpython.com/pandas_dtypes.html

**Handling with Categorical Data **  
http://benalexkeen.com/mapping-categorical-data-in-pandas/  
**timedelta object for time duration to estimate the time for both future and the past**  
https://www.journaldev.com/23334/python-timedelta

In [25]:
mydata3['Europe Brent Spot Price FOB (Dollars per Barrel)'].max()
mydata3['Europe Brent Spot Price FOB (Dollars per Barrel)'].min()

9.1

In [26]:
mydata3.describe()

       Europe Brent Spot Price FOB (Dollars per Barrel)
count                                       7903.000000
mean                                          45.498118
std                                           33.038214
min                                            9.100000
25%                                           18.600000
50%                                           29.620000
75%                                           65.945000
max                                          143.950000

In [5]:
mydata3.describe(include='all')

                       Date  Europe Brent Spot Price FOB (Dollars per Barrel)
count                  8043                                       8043.000000
unique                 8043                                               NaN
top     1989-12-27 00:00:00                                               NaN
freq                      1                                               NaN
first   1987-05-20 00:00:00                                               NaN
last    2019-01-28 00:00:00                                               NaN
mean                    NaN                                         45.925340
std                     NaN                                         32.928494
min                     NaN                                          9.100000
25%                     NaN                                         18.650000
50%                     NaN                                         30.260000
75%                     NaN                                         67.245000
max                     NaN                                        143.950000

**Exporting data(dataframe) into local drive**

In [27]:
mydata3.to_csv("data/mydata3.csv") # export the dataframe as csv file

## Adding a series to data frames

In [8]:
ser = pd.Series(["one", "two", "three"], index =[0,4, 6])
mydata3["ser"] = ser
mydata3.head(15)

         Date  Europe Brent Spot Price FOB (Dollars per Barrel)    ser
0  1987-05-20                                             18.63    one
1  1987-05-21                                             18.45    NaN
2  1987-05-22                                             18.55    NaN
3  1987-05-25                                             18.60    NaN
4  1987-05-26                                             18.63    two
5  1987-05-27                                             18.60    NaN
6  1987-05-28                                             18.60  three
7  1987-05-29                                             18.58    NaN
8  1987-06-01                                             18.65    NaN
9  1987-06-02                                             18.68    NaN
10 1987-06-03                                             18.75    NaN
11 1987-06-04                                             18.78    NaN
12 1987-06-05                                             18.65    NaN
13 1987-06-08                                             18.75    NaN
14 1987-06-09                                             18.78    NaN

**`set_option`** method
  
we can customize the display behavior

In [2]:
import pandas as pd

In [ ]:
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option("display.precision", 100)

<font size="4"><strong>Group By (Split Apply Combine)</font>

In [5]:
df = pd.read_csv('data/weather_by_cities.csv')
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

<font size="3"><strong>For this dataset, get following answers</font>

**1. What was the maximum temperature in each of these 3 cities?**   
**2. What was the average windspeed in each of these 3 cities?**

In [6]:
g = df.groupby("city")
g # DataFrameGroupBy class

In [8]:
g.get_group('mumbai')
# This is similar to SQL,  SELECT * from weather_data GROUP BY city

        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain

<p><img src="plots/group_by_cities.png" alt="Example" width="1800" height="1050"></p>

In [14]:
print(g.max()) # observe for mumbai group max temperature is 32
print(g.mean()) # to get all numerical columns average
print(g.temperature.mean()) # for one column average

               day  temperature  windspeed  event
city
mumbai    1/4/2017           92         15  Sunny
new york  1/4/2017           36         12  Sunny
paris     1/4/2017           54         20  Sunny
          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75
city
mumbai      88.50
new york    32.25
paris       47.75
Name: temperature, dtype: float64

**This method of splitting your dataset in smaller groups and then applying an operation (such as min or max) to get aggregate result is called Split-Apply-Combine. It is illustrated in a diagram below**

<p><img src="plots/split_apply_combine.png" alt="Example" width="1800" height="1050"></p>

In [15]:
g.describe()

         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

https://pbpython.com/pandas_transform.html

<span style="color:red; font-family:Comic Sans MS"> **above Code pulled from:** </span>  
<a href="https://github.com/codebasics/py/tree/master/pandas/7_group_by" target="_blank">https://github.com/codebasics/py/tree/master/pandas/7_group_by</a>

**Pandas DataFrame API**

http://pandas.pydata.org/pandas-docs/stable/reference/frame.html

**for practice**  
https://github.com/tdpetrou/Learn-Pandas/tree/master/Learn-Pandas/Selecting%20Subsets  
https://www.ritchieng.com/pandas-reading-tabular-data/#

**Working with Date and Time: **  
https://www.ritchieng.com/pandas-date-time/

## Loading, Subsetting, and Filtering Data with pandas

https://towardsdatascience.com/data-science-with-python-intro-to-loading-and-subsetting-data-with-pandas-9f26895ddd7f  
https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c  
https://pandas.pydata.org/pandas-docs/version/0.22.0/10min.html

**sample datasets link for practice**  
https://vincentarelbundock.github.io/Rdatasets/datasets.html

<span style="color:red; font-family:brandon">Further  Resources</span>  
<a href="https://github.com/manujeevanprakash/Pandas-basics/blob/master/Pandas.ipynb" target="_blank">https://github.com/manujeevanprakash/Pandas-basics/blob/master/Pandas.ipynb</a>  
<a href="https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python" target="_blank">https://www.datacamp.com/community/tutorials/pandas-tutorial-dataframe-python</a>  
<a href="https://www.dataschool.io/best-practices-with-pandas/" target="_blank">https://www.dataschool.io/best-practices-with-pandas/</a>

<span style="color:red; font-family:Comic Sans MS">References</span>  
<a href="https://www.listendata.com/2017/05/python-data-science.html" target="_blank">https://www.listendata.com/2017/05/python-data-science.html</a>  
<a href="https://jakevdp.github.io/PythonDataScienceHandbook/" target="_blank">https://jakevdp.github.io/PythonDataScienceHandbook/</a>